.navbar {
  background-color: $white;
  display: block;
  flex-flow: column;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 9;
}

.navbar--shrink {
  top: -60px;
}

.navbar .navbar__content {
  @extend .container;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: rem(15px) 6rem;

  @include media-breakpoint-down(md) {
    padding-inline: 2rem;
  }

  @include media-breakpoint-down(xs) {
    justify-content: center;
    gap: 1rem;
    padding-inline: 0;
  }
}

.navbar__logo {
  display: block;
  max-width: 280px;
}

.navbar-cta {
  margin: 0;
  padding: 4px 0;
  color: $gray-800;
  line-height: 1.4;
  font-weight: 700;
  @include media('<navbarLg') {
    display: none;
  }
}

.navbar--not-logged {
  @include media('>navbarLg') {
    .navbar__content {
      flex-wrap: nowrap;
    }

    .navbar-navigation {
      width: 100%;
    }
  }
}

.is-authorized + .navbar__content {
  .navbar-navigation {
    justify-content: flex-end;
  }

  .navbar-cta {
    display: none;
  }

  .navbar-navigation__item {
    display: list-item;

    &:not(.navbar-navigation__item--user):not(.navbar-navigation__item--new-invoice):not(:has(.navbar-navigation__link--my_invoices)) {
      @include media('<sm') {
        display: none;
      }
    }
  }
}
